*{
    margin: 0;
    padding: 0;
    background: rgb(228, 228, 228);
}

@media (min-width:270px) {
    main .cabecalho h1{
        font-size: x-large;
    }
    main .cabecalho h2{
        font-size: large;
    }
}
@media (min-width:425px){
    main .cabecalho h1{
        font-size: xx-large;
    }
    main .cabecalho h2{
        font-size: x-large;
    }
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
}

img{
    max-height: 400px;
}

main .cabecalho{
    display: flex;
    align-items: center;
    padding: 10px;
}

main .cabecalho h1{
    margin-right: 10px;
    padding: 10px 0;
}

main .botoes{
    width: 70%;
    min-width: 200px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

main .botoes button{
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background: black;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}

main .botoes button:hover{
    background: transparent;
    color: black;
}
